.nav-btn {
    color: #000 !important;
    gap: 20px !important;
    margin-right: 10px !important;
    text-transform: none !important;
    text-decoration: none !important;
}

.nav-hover {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid black;
    box-shadow: none;
    border-radius: 10px;
    background-color: #f8f7f4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.nav-hover a {
    color: black;
    opacity: 60%;
    display: block;
    text-decoration: none;
    text-align: start;
    margin: 8%;
}

.nav-hover a:hover {
    color: #ff7722;
    background: transparent;
}

.nav-btn:hover {
    color: #ff7722 !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.nav-btn:hover .nav-hover {
    display: block;
}